<h2>Create a new drone</h2>
<form action="drones/create" method="POST">
    <input type="text" name="name" id="droneName" placeholder="name" value="">
    <input type="number" name="propellers" id="dronePropellers" placeholder="Propellers" value="">
    <input type="number" name="maxSpeed" id="droneMaxSpeed" placeholder="Speed" value="">
    <button type="submit">Creat a drone</button>
</form>
